<%# Job card for the manager %>
<div class="col-7">
  <div class="job-info">
    <h2> <%= job.property.title %> </h2>
    <p>  R$ <%= job.price.round %></p>

    <%# Find the cleaner that applied (first one), selected, or completed the job. %>
    <% selected_job = job.job_applications.where(status: ["applied","accepted", "completed"]).first %>
    <% if selected_job %>
      <% cleaner = selected_job.user %>
    <% end %>
  </div>
</div>

<div class="date-created col-2">
  <% if job.status != "Completed" %>
    <p class="current-status">Status: <%= job.status.capitalize %></p>
  <% end %>

    <%# You can accept the application for one of the cleaners that applied. %>
    <% if job.status == "applied" %>
      <%= link_to "Accept Application", job_path(job) %>

    <%# You can review the job once it has been completed %>
    <% elsif job.status == "completed" %>
      <% if manager_review(job).nil? %>
        <p class="current-status">completed</p>
          <%= link_to "Profile", user_path(cleaner) %>
        <%= link_to "review job", new_job_review_path(job) %>

      <%# You cqn only see the review once you wrote a review about the cleaner %>
      <% else %>
        <p class="current-status">Reviewed</p>
          <%= link_to "Profile", user_path(cleaner) %>
        <% unless cleaner_review(job).nil? %>
          <%= link_to "See cleaner review", job_review_path(job, manager_review(job))%>
        <% end %>
      <% end %>
    <% end %>
</div>

<%# Select Picture of the cleaner that applied, accepted, or completed the job. %>

  <% if cleaner %>
    <%= cl_image_tag cleaner.photo.key, class:"user-icon float-right col-1" %>
  <% else %>
    <img src="https://res.cloudinary.com/dgabkyhfa/image/upload/v1694625752/vacancy_pdufgm.jpg" class= "user-icon float-right col-1">
  <% end %>
