<%# Job card for the manager %>
<div class="col-7">
  <div class="job-info">
    <h2> <%= link_to job.property.title, job_path(job) %> </h2>
    <p>  R$ <%= job.price.round %></p>

    <%# Find the cleaner that applied (first one), selected, or completed the job. %>
    <% selected_job = job.job_applications.where(status: ["applied","accepted", "completed"]).first %>
    <% if selected_job %>
      <% cleaner = selected_job.user %>
    <% end %>
  </div>
</div>

<div class="date-created col-2">

  <%# Show open status if there are no job applications yet. %>
  <% if job.status == "open" %>
    <p class="current-status">Status: <%= job.status.capitalize %></p>

  <%# You can accept the application for one of the cleaners that applied. %>
  <% elsif job.status == "applied" %>
    <p class="current-status">The job has applicants, select one.</p>

  <%# Job shows as accepted if it has been accepted. %>
  <% elsif job.status == "accepted" %>
    <p class="current-status">Status: <%= job.status %></p>

  <%# You can review the job once it has been completed %>
  <% elsif job.status == "completed" %>
    <% if manager_review(job).nil? %>
      <div>
          <p class="current-status">Completed</p>
          <%= link_to "Profile", user_path(cleaner), class: "d-none" %>
          <%= link_to "review job", new_job_review_path(job) %>
      </div>
    <%# You can only see the review once you wrote a review about the cleaner %>
    <% else %>
      <p class="current-status">Reviewed</p>
        <%= link_to "Profile", user_path(cleaner) %>
        <% unless cleaner_review(job).nil? %>
          <%= link_to "See cleaner review", job_review_path(job, manager_review(job))%>
      <% end %>
    <% end %>
  <% end %>
</div>

<%# Select Picture of the cleaner that applied, accepted, or completed the job. %>

  <% if cleaner %>
    <%= cl_image_tag cleaner.photo.key, class:"user-icon float-right col-1" %>
  <% else %>
    <img src="https://res.cloudinary.com/dgabkyhfa/image/upload/v1694625752/vacancy_pdufgm.jpg" class= "user-icon float-right col-1">
  <% end %>
