<div class="col-8">
  <div class="m-3 card w-75 mb-3 rounded-5">
    <div class="card-body">
      <div class="border-bottom border-black">
        <h5 class="card-title text-center"> <i class="fa-solid fa-list" style="color: #366cc9;"></i> Job Description</h5>
        <p class="card-text"> <%= @job.property.description %></p>
      </div>
      <div class='d-flex d-flex justify-content-between'>
        <p class="card-text text-secondary">Price: </p>
        <p class='card-text'> <%= "    $#{@job.price}" %></p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="card-text text-secondary">Date: </p>
        <p class='card-text'> <%= " #{@job.date_of_job.month}/#{@job.date_of_job.day}/#{@job.date_of_job.year}" %></p>
      </div>
      <% if session[:user_role] == "manager" %>
        <%= render 'chat_cleaner_button', job: @job %>
      <% else %>
        <%= render 'chat_manager_button', job: @job %>
      <% end %>
    </div>
  </div>
</div>
