 <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Photo -->
                <% if current_user.photo.attached?  %>
                  <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= cl_image_tag @user.photo.key, class:"img-fluid rounded-circle", width: 600, height: 600, crop: :fill %></a>
                <% else %>
                  <a class="nav-link" href="#" data-bs-toggle="dropdown"><img src="https://images.nightcafe.studio//assets/profile.png?tr=w-640,c-at_max" alt="Image not found" class= "avatar dropdown-toggle"></a>
                <% end %>
            </div>
            <div class="col-md-8">
              <!-- Profile Information -->
              <h1><%= @user.first_name %></h1>
              <p>Years Hosting: 3 Years</p>
              <p>Email: <%= @user.email %></p>
              <p><strong>Rating:</strong> <%= render partial: 'users/star_rating', locals: { user: @user } %></p>
              <!-- Reviews Section -->
              <div class="reviews">

                <h2><%= @user.first_name %>´s Reviews</h2>
                <% @cleaner_reviews.each do |review| %>
                  <div class="review">
                  <h3><strong>Reviewer:</strong> <%= review.user.first_name %></h3>
                    <p><%= review.description %></p>
                    <p><strong>Rating:</strong> <%= review.rating %></p>
                  </div>
                <% end %>
                <h2>Manager Reviews</h2>
                <% @manager_reviews.each do |review| %>
                  <div class="review">
                    <p><%= review.description %></p>
                    <p>Rating: <%= review.rating %></p>
                  </div>
                <% end %>
              </div>
              <p>Location: <%= @user.address %></p>
              <!-- About Profile Section -->
              <h2>About Me</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae justo eu elit bibendum consectetur.</p>
              <!-- Edit Profile Button -->
              <% if current_user == @user %>
                <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
              <% end %>
            </div>
        </div>
    </div>
